@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --color-primary: #40798C;
  --color-secondary: #E63946;
  --color-dark: #0D1321;
  --color-light: #FFFFFF;
  --color-mid: #F2E3BC;
  --border-radius: 3px;
  --transition: all 0.3s ease;
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}